<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>IRAQI WOMEN</title>
</head>
<body class="bg-light" background="" style="width: 100%; height: 40%">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">IRAQI WOMEN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link " href="/first">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/2nd">Developing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/3rd">Studies and progressing</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/crs">Education</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="http://concare.net/wp-content/uploads/2017/04/stock-11-1024x710.jpg"
                 alt="First slide" width="100%" height="450px">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://www.w3schools.com/css/img_fjords.jpg" width="100%" height="500px"
                 alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100"
                 src="http://differenttruths.com/wp-content/uploads/2017/11/xwoman-hills-quiet-sitting-alone-thinking-nature-600x400.jpg.pagespeed.ic.4FSW7ruzmQ.jpg"
                 width="100%" height="500px" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div id="carouselExampleControls" class="carousel slide mt-4" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item ">
            <!--first 3 cards-->
            <div class="container mt-5">
                <div class="row justify-content-center">

                    <div class="col-md-4 col-sm-12">
                        <div class="card mt-3 ml-3 mr-3 mb-3" style="width: 18rem;">
                            <img class="card-img-top"
                                 src="https://udemy-images.udemy.com/course/240x135/874012_c7f2_3.jpg"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">The Ultimate Drawing Course - Beginner to Advanced</h5>
                                <p class="card-text">Learn the #1 most important building block of all art</p>
                                <a href="https://www.udemy.com/the-ultimate-drawing-course-beginner-to-advanced/"
                                   class="btn btn-primary">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card mt-3 ml-3 mr-3 mb-3" style="width: 18rem;">
                            <img class="card-img-top"
                                 src="https://udemy-images.udemy.com/course/240x135/625204_436a_2.jpg"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">The Web Developer Bootcamp</h5>
                                <p class="card-text">The only course you need to learn web development - HTML, CSS, JS, Node, and More!</p>
                                <a href="https://www.udemy.com/the-web-developer-bootcamp/"
                                   class="btn btn-primary">Details</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="card mt-3 ml-3 mr-3 mb-3" style="width: 18rem;">
                            <img class="card-img-top"
                                 src="https://udemy-images.udemy.com/course/240x135/950390_270f_3.jpg"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Machine Learning A-Z™: Hands-On Python & R In Data Science</h5>
                                <p class="card-text">Learn to create Machine Learning Algorithms in Python and R from two Data Science experts. Code templates included.</p>
                                <a href="https://www.udemy.com/machinelearning/" class="btn btn-primary">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">
            <!--second 3 cards-->
            <div class="container mt-5">
                <div class="row justify-content-center">

                    <div class="col-md-4 col-sm-12">
                        <div class="card mt-3 ml-3 mr-3 mb-3" style="width: 18rem;">
                            <img class="card-img-top"
                                 src="https://udemy-images.udemy.com/course/240x135/357100_bd5d_3.jpg"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Basic Animation In After Effects</h5>
                                <p class="card-text">Learn basic animation, motion graphics and how to add special effects to video in After Effects</p>
                                <a href="https://www.udemy.com/basic-animation-in-after-effects/"
                                   class="btn btn-primary">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card mt-3 ml-3 mr-3 mb-3" style="width: 18rem;">
                            <img class="card-img-top"
                                 src="https://udemy-images.udemy.com/course/240x135/736456_f01e_3.jpg"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Ninja Writing: The Four Levels Of Writing Mastery</h5>
                                <p class="card-text">Turn Your Business Writing, Blogs, Books & Essays Into Masterpieces</p>
                                <a href="https://www.udemy.com/ninja-writing-the-four-levels-of-writing-mastery/"
                                   class="btn btn-primary">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card mt-3 ml-3 mr-3 mb-3" style="width: 18rem;">
                            <img class="card-img-top"
                                 src="https://udemy-images.udemy.com/course/240x135/734144_6a0b_9.jpg"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Turn a 2d photo into a 3d animation with After Effects!</h5>
                                <p class="card-text">Learn the basics of Photoshop and After Effects and create your own 3D animations from scratch!</p>
                                <a href="https://www.udemy.com/2d-to-3d-with-photoshop-and-after-effects/"
                                   class="btn btn-primary">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item active">
            <!--third 3 cards-->
            <div class="container mt-5">
                <div class="row justify-content-center">

                    <div class="col-md-4 col-sm-12">
                        <div class="card mt-3 ml-3 mr-3 mb-3" style="width: 18rem;">
                            <img class="card-img-top"
                                 src="https://udemy-images.udemy.com/course/240x135/827464_861a_3.jpg"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Piano Lessons For Absolute Beginners</h5>
                                <p class="card-text">Learn Notes on the Piano Keyboard and Music Staff, and Basic Scales and Chords</p>
                                <a href="https://www.udemy.com/beginnerpianolessons/" class="btn btn-primary">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card mt-3 ml-3 mr-3 mb-3" style="width: 18rem;">
                            <img class="card-img-top"
                                 src="https://udemy-images.udemy.com/course/240x135/685550_8ed4.jpg"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">JavaScript For Beginners - Learn JavaScript From Scratch</h5>
                                <p class="card-text">Learn The Fundamentals Of The JavaScript Programming Language</p>
                                <a href="https://www.udemy.com/javascript-for-beginners-learn-javascript-from-scratch/"
                                   class="btn btn-primary">Details</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card mt-3 ml-3 mr-3 mb-3" style="width: 18rem;">
                            <img class="card-img-top"
                                 src="https://udemy-images.udemy.com/course/240x135/452576_4262_4.jpg"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Learn HTML5, CSS3 and JavaScript for beginners</h5>
                                <p class="card-text">html and css basics to html5 and css3 advanced topics and JavaScript for beginners Learn from scratch to advanced level</p>
                                <a href="https://www.udemy.com/learn-complete-html5-and-css3-from-scratch/"
                                   class="btn btn-primary">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="color: black">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="color: black">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</body>
</html>