<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>IRAQI WOMEN</title>
</head>
<body class="bg-light" background="" style="width: 100%; height: 40%">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">IRAQI WOMEN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" >
                <a class="nav-link " href="/first">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/2nd">Developing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/3rd">Studies and progressing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/crs">Education</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://ak7.picdn.net/shutterstock/videos/33295207/thumb/1.jpg?i10c=img.resize(height:160)"
                 alt="" width="100%" height="500px">
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1 class="align-middle">Shear your dreams </h1>
                    <p>Make it your daily routine </p></div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5"><h3 class="top mt-2" style="text-align: center">TOP COURSES
        <hr> </h3>
    <div class="row justify-content-center">

        <div class="col-md-4 col-sm-12">
            <div class="card mt-3 ml-3 mr-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="https://udemy-images.udemy.com/course/240x135/357100_bd5d_3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="https://www.udemy.com/basic-animation-in-after-effects/" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card mt-3 ml-3 mr-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="https://udemy-images.udemy.com/course/240x135/685550_8ed4.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="https://www.udemy.com/javascript-for-beginners-learn-javascript-from-scratch/" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card mt-3 ml-3 mr-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="https://udemy-images.udemy.com/course/240x135/452576_4262_4.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="https://www.udemy.com/learn-complete-html5-and-css3-from-scratch/" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</body>
</html>