<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>IRAQI WOMEN</title>
    <style>
        h1,p,h3 {text-align: center}
    </style>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/first">IRAQI WOMEN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link " href="/first">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/2nd">Developing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/3rd">Studies and progressing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/crs">Education</a>
            </li>
        </ul>
    </div>
</nav>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img  src="https://images.pexels.com/photos/556963/pexels-photo-556963.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"
                 alt="" width="100%" height="700px">
            <div class="container">
                <div class="carousel-caption text-left">
                    <!--<h1 class="align-middle">Shear your dreams </h1>-->
                    <h1>Develop yourself and Grow..</h1><br><br>
                    <h3>Make it your daily routine </h3>
                    <p>Here every iraqi woman could find what she need in order to improve herself and live a better life.</p>
                    <br><br><br><br><br><br>


                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <h3 class="top mt-2">TOP COURSES
        <hr>
    </h3>
    <div class="row justify-content-center">

        <div class="col-md-4 col-sm-12">
            <div class="card mt-3 ml-3 mr-3 mb-3">
                <img class="card-img-top"
                     src="https://udemy-images.udemy.com/course/240x135/827464_861a_3.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Piano Lessons For Absolute Beginners</h5>
                    <p class="card-text">Learn Notes on the Piano Keyboard and Music Staff, and Basic Scales and
                        Chords</p>
                    <a href="https://www.udemy.com/beginnerpianolessons/" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card mt-3 ml-3 mr-3 mb-3">
                <img class="card-img-top"
                     src="https://udemy-images.udemy.com/course/240x135/685550_8ed4.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">JavaScript For Beginners - Learn JavaScript From Scratch</h5>
                    <p class="card-text">Learn The Fundamentals Of The JavaScript Programming Language</p>
                    <a href="https://www.udemy.com/javascript-for-beginners-learn-javascript-from-scratch/"
                       class="btn btn-primary">Details</a>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card mt-3 ml-3 mr-3 mb-3">
                <img class="card-img-top"
                     src="https://udemy-images.udemy.com/course/240x135/452576_4262_4.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Learn HTML5, CSS3 and JavaScript for beginners</h5>
                    <p class="card-text">html and css basics to html5 and css3 advanced topics and JavaScript for
                        beginners Learn from scratch to advanced level</p>
                    <a href="https://www.udemy.com/learn-complete-html5-and-css3-from-scratch/"
                       class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link " href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/Raniask">Github</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/crs"> Courses</a>
        </li>
    </ul>
    <br>
    <ul class="nav">
        <li class="nav-item">
            <p>If are interested in sending us your suggestion or a solution for an issue, please visit <a
                        href="/yours">Contribution</a>.</p>
        </li>
    </ul>
</div>
</div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</body>
</html>